<h1>Welcome</h1>

<% if current_user %>
  <h3>How are you <%= current_user.first_name %>?</h3>

  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Enter with Auth', user_auth_omniauth_authorize_url, method: :post %>
<% end %>

